<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/htmltopdf.css">

  <title>HTML FILE TO PDF CONVERTER - BY SHAHEB</title>
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet"> -->


  <script type="module" src="../js/htmltopdf.js"></script>

</head>

<body>
  <h1 class="text-center">HTML FILE TO PDF CONVERTER</h1>


  <div class="container-fluid app">

    <!-- Button trigger modal -->


  <!-- Modal -->
  <div class="modal fade" id="exampleModalLabel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Finding to the given location Please Wait...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <h2>FNC Processing <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </h2>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>



    <div class="row justify-content-center align-self-center">

      <div class="col-8">

        <div class="input-group mb-3">
          <span class="input-group-text btn-info text-white" id="basic-addon3">Please Provide Activity Name</span>
          <input type="text" class="form-control" id="activityName" aria-describedby="basic-addon3" value=""
            placeholder="Ex: activity_name_123456_s0s021_sa_sa_sa_sa_behahs" />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text btn-danger text-white" id="basic-addon3">Destination Folder Path</span>
          <input type="text" class="form-control" id="distUrl" aria-describedby="basic-addon3" value=""
            placeholder="Ex: C:\Users\name\drive-location\123456\sa " />
        </div>

        <!-- <div class="input-group mb-3">
          <span class="input-group-text btn-info text-white" id="basic-addon3">Width</span>
          <input type="text" class="form-control" id="width" aria-describedby="basic-addon3" value="2000"
            placeholder="2000" />
            <span class="input-group-text btn-info text-white" id="basic-addon3">Height</span>
            <input type="text" class="form-control" id="height" aria-describedby="basic-addon3" value="2000"
              placeholder="2000" />
        </div> -->



        <div class="form-group inputDnD">
          <form>
            <label class="sr-only" for="inputFile">File Upload</label>
            <input type="file" class="form-control-file text-primary font-weight-bold" id="inputFile" accept="image/*"
              data-title="Drag and drop or Browser file to convert" data-count="(0) File converting..." multiple>

          </form>


        </div>


      </div>

      <div class="col-1 align-self-center">


        <button type="button" class="btn btn-primary" id="htmltopdf">CONVERT</button>
        <!-- data-bs-toggle="modal" data-bs-target="#exampleModal" -->

      </div>

    </div>


    <!--
        Show Working...
      -->
    <div class="row justify-content-center align-self-center">
      <div class="col-8 justify-content-center align-self-center">
        <div class="accordion" id="accordionExample">

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" id="headingDetails" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false"
                aria-controls="collapseOne">
                <span class="justify-content-start align-self-start"></span>Image to HTML Convertion APP</span>
                <span class="justify-content-end align-self-end"> »</span>
              </button>
            </h2>
           
          </div>
        </div>

      </div>
      <div class="col-1 align-self-center">

      </div>

    </div>

    <div class="col-11  align-self-center justify-content-center text-center vertical-bottom">
      We are using Node.js <span id="node-version"></span>,
      Chromium <span id="chrome-version"></span>,
      and Electron <span id="electron-version"></span>.
      All Right Reserved &copy; Copyright 2021, By <a href="http://www.github.com/systembugbd" target="_blank">Shaheb
        Ali</a>
    </div>

  </div>
  <!-- <script src="./cli.js"></script> -->

  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>


</body>

</html>