<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/index.css">

  <title>FIND-N-COPY - BY SHAHEB</title>
  <script type="module" src="../js/renderer.js"></script>
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
 
 

</head>

<body>
  <h1 class="text-center">FIND-N-COPY ITS MY DUITY</h1>


  <div class="container-fluid app">

    
    <div class="d-grid gap-10 d-md-block">
      <button type="button" class="btn btn-success" id="findncopybtn">
        <span><img src="../assets/images/Search-icon-white.png" width="100" height="auto" alt="" /></span><br><br>
      <b>FIND-N-COPY FILE</b>
      </button>
      <button type="button" class="btn btn-danger" id="findfolderncopy">
        <span><img src="../assets/images/Search-folder-white.png" width="100" height="auto" alt="" /></span><br>
        <br>
      <b>FIND FOLDER</b>
      </button>

      <button type="button" class="btn btn-info" id="imagetopdf">
        <span><img src="../assets/images/Search-folder-white.png" width="100" height="auto" alt="" /></span><br>
        <br>
      <b>IMAGE TO SEPERATE PDF</b>
      </button>

      <button type="button" class="btn btn-warning" id="htmltopdf">
        <span><img src="../assets/images/Search-folder-white.png" width="100" height="auto" alt="" /></span><br>
        <br>
      <b>IMAGE-HTML FOR PDF</b>
      </button>

      

      <!-- <button type="button" class="btn btn-primary" id="imagetopdf">Image TO PDF</button>
      <button type="button" class="btn btn-info" id="imagetotext">OCR - Image to Text</button> -->
    </div>
 
   
    <div class="row align-self-center justify-content-center text-center copyright">
     
        
      <div class="col-9">
        We are using Node.js <span id="node-version"></span>,
        Chromium <span id="chrome-version"></span>,
        and Electron <span id="electron-version"></span>.
        All Right Reserved &copy; Copyright 2021, By <a href="http://www.github.com/systembugbd" target="_blank">Shaheb
          Ali</a>
      </div>

      
    
    </div>
  </div>
    
    <!-- <script src="./cli.js"></script> -->
</body>

</html>